@model IEnumerable<student_groupe.Models.Groupe>

@{
    ViewData["Title"] = "ListGroupes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListGroupes</h1>

<p>
    <a asp-action="CreateGroupe">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Groupe_Name)
            </td>
            <td>
                <a asp-action="UpdateGroupe" asp-route-id="@item.Groupe_Id">Edit</a> |
                <a asp-action="DetailsGroupe" asp-route-id="@item.Groupe_Id">Details</a> |
                <a asp-action="DeleteGroupe" asp-route-id="@item.Groupe_Id">Delete</a> |
                <a asp-action="GetStudents" asp-controller="Student" asp-route-id="@item.Groupe_Id">Get Students</a>
            </td>
        </tr>
}
    </tbody>
</table>
